.button {
color: #ffffff;
font-family: "SegoeWP";
font-size: 31px;
font-weight: 300;
line-height: 61.77px;
background-color: #5094f2;
padding: 10px 14px;
border-radius: 1px;
max-width: 240px;
max-height: 53px;
display: flex;
align-items: center;
}


.button:hover {
	background-color: #fff;
	color: #5094f2;
}
