@font-face {
  font-family: 'prechu';
  src:  url('../../fonts/icons/prechu.eot?3j416w');
  src:  url('../../fonts/icons/prechu.eot?3j416w#iefix') format('embedded-opentype'),
    url('../../fonts/icons/prechu.ttf?3j416w') format('truetype'),
    url('../../fonts/icons/prechu.woff?3j416w') format('woff'),
    url('../../fonts/icons/prechu.svg?3j416w#prechu') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'prechu' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e900";
  color: #fff;
  padding-right: 15px;
}


.icon-monitor:before {
  content: "\e901";
  font-size: 63px;
  color: #fff;
  width: 137px;
  height: 136px;
  background-color: #d94748;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.icon-pencil:before {
  content: "\e902";
  font-size: 80px;
  color: #fff;
  width: 137px;
  height: 136px;
  background-color: #5094f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.icon-shopping-cart:before {
  content: "\e903";
  font-size: 70px;
  color: #fff;
  width: 137px;
  height: 136px;
  background-color: #ebbb11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

