.section-img {
	text-align: center;
	padding: 34px 0 20px;
}

.section-img > img {
	width: 215px;
	height: 162px;
}

.section-hero .section-img > img {
	padding: 0;
	width: 177px;
	height: 223px;
}

.section-hero .section-img {
	padding: 0;
}

@media (min-width: 640px) {
	.section-hero .section-img > img {
		height: 308px;
		width: auto;
	}
}

@media (min-width: 960px) {
	.section-img > img {
		height: 279px;
		width: auto;
	}
	.section-hero .section-img > img {
		height: 394px;
		width: auto;
	}
}

