.section {
  position: relative;
  padding: 20px 0;
}

.section-hero .section-title,.section-hero .section-subtitle {
  color: #fff;
  font-weight: 300;
  line-height: 35.94px;
}

.section-hero .section-title {
  font-size: 31px;
  padding-bottom: 10px;
  text-align: left;
}

.section-hero .section-subtitle {
  font-size: 23px;
}

.section-background {
  background-color: #999;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.section-background > img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  height: 100%;
}

.section-foreground {
  z-index: 10;
}

.section-title {
  color: #6f7173;
  font-size: 42px;
  font-weight: 400;
  line-height: 44.42px;
  text-align: center;
}

.section-subtitle {
  color: #6f7173;
  font-size: 34px;
  font-weight: 400;
  line-height: 44.42px;
  padding-bottom: 18px;
}

.section-text {
  color: #909090;
  font-size: 17px;
  font-weight: 300;
  line-height: 36px;
}

@media (max-width: 480px) {
  .section-hero .section-title {
    text-align: center;
  }
}

@media (min-width: 480px) {
  .section {
    padding: 20px 40px;
  }
  .section-hero {
    padding: 20px 0;
  }
}

@media (min-width: 960px) {
  .section {
    padding: 40px 0;
  }
  .section-hero-decore {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../../img/decore.png);
    background-position: left bottom;
    background-repeat: repeat-x;
    margin-bottom: -2px;
    z-index: 0;
  }
  .section-subtitle {
  font-size: 26px;
  line-height: 44.42px;
  }
  .section-text {
  font-size: 15px;
  line-height: 36px;
  }
}
